// Settings sprites
// // Sprite one
$spriteImageWidth: 42px;
$spriteImageHeight: 64px;
$spriteURL: "http://i61.tinypic.com/2zdyhrr.png";

// Sprite two
// $spriteImageWidth: 62px;
// $spriteImageHeight: 81px;
// $spriteURL: "http://i59.tinypic.com/2iw4w76.jpg";

// Buttons
$buttonPrimaryBgColor: #428bca;
$buttonPrimaryBorderColor: #357ebd;

// Normal css settings
$a: #428bca;