// Settings sprites
$spriteImageWidth: 42px;
$spriteImageHeight: 64px;
$spriteURL: "http://i61.tinypic.com/2zdyhrr.png";

// Buttons
$buttonPrimaryBgColor: #428bca;
$buttonPrimaryBorderColor: #357ebd;

// Normal css settings
$a: #428bca;