@import "config";

// main css
@mixin sprite($left, $top) {
  background:url($spriteURL) $left $top no-repeat;
}

#appContainer { padding:20px;}
	 #mahjong { position:relative; height:700px; }
	#mahjong .tile { padding-top:5px; width:$spriteImageWidth; height:$spriteImageHeight; font-weight:bold; position:absolute; background:green; text-align:center; }
	   #mahJong .tile.highlight { box-shadow: 5px 5px 20px #888888; }

  #mahJong { 
    .tile { 
      @for $i from 1 through 9{
        &.Circle#{$i} {
          @include sprite(($i - 1) * -$spriteImageWidth, 0);
        }
      }

      @for $i from 1 through 9 {
        &.Bamboo#{$i} {
          @include sprite(($i - 1) * -$spriteImageWidth, -$spriteImageHeight);
        }
      }

      @for $i from 1 through 9 {
        &.Character#{$i} {
          @include sprite(($i - 1) * -$spriteImageWidth, -($spriteImageHeight*2));
        }
      }

      &.WindWest  { @include sprite(0, -($spriteImageHeight*3)); }
      &.WindNorth { @include sprite(-$spriteImageWidth, -($spriteImageHeight*3)); }
      &.WindSouth { @include sprite(-($spriteImageWidth*2), -($spriteImageHeight*3)); }
      &.WindEast  { @include sprite(-($spriteImageWidth*3), -($spriteImageHeight*3)); }
      
      &.SeasonSpring { @include sprite(-($spriteImageWidth*4), -($spriteImageHeight*4)); }
      &.SeasonAutumn { @include sprite(-($spriteImageWidth*5), -($spriteImageHeight*4)); }
      &.SeasonSummer { @include sprite(-($spriteImageWidth*6), -($spriteImageHeight*4)); }
      &.SeasonWinter { @include sprite(-($spriteImageWidth*7), -($spriteImageHeight*4)); }      
      
      &.FlowerPlum            { @include sprite(-($spriteImageWidth*5), -($spriteImageHeight*3)); }
      &.FlowerOrchid          { @include sprite(-($spriteImageWidth*6), -($spriteImageHeight*3)); }
      &.FlowerChrysantememum  { @include sprite(-($spriteImageWidth*7), -($spriteImageHeight*3)); }
      &.FlowerBamboo          { @include sprite(-($spriteImageWidth*8), -($spriteImageHeight*3)); }

      &.DragonWhite { @include sprite(0, -($spriteImageHeight*4)); }
      &.DragonGreen { @include sprite(-$spriteImageWidth, -($spriteImageHeight*4)); }
      &.DragonRed   { @include sprite(-($spriteImageWidth*2), -($spriteImageHeight*4));  }

    }
  }

	.detailTable { margin:0 0 20px; }
	table { }
		table tr { }
			table tr td { }
				table tr td.header { font-weight:bold; }


/* buttons */
a { color:$a !important; }
.btn-primary { border-color:$buttonPrimaryBorderColor !important; background-color:$buttonPrimaryBgColor !important; }

/* Layout fixes */
.clear { clear:both; }

.clearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}