<base href="/">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Layout</th>
            <th>Aangemaakt door</th>
            <th>Gemaakt op</th>
            <th>Start datum</th>
            <th>Minimale spelers</th>
            <th>Maximale spelers</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="game in games track by $index">
      
            <td>{{ game.gameTemplate.id }}</td>
            <td>{{ game.createdBy.name }}</td>
            <td>{{ game.createdOn }}</td>
            <td>{{ game.startedOn }}</td>
            <td>{{ game.minPlayers }}</td>
            <td>{{ game.maxPlayers }}</td>
            <td>{{ game.state }}</td>
            <td> <!-- <a href="javascript:void(0)" ng-click="edit(game.id)">edit</a>  --> <!-- <a href="javascript:void(0)" ng-click="delete(game.id)">delete</a> -->  <a href="javascript:void(0)" ng-click="join(game.id)" ng-show="game.state === 'open'"> join</a> <a href="javascript:void(0)" ng-click="show(game.id)" ng-show="game.state === 'open'">| spelers |</a> <a href="#details/{{game.id}}"> Details</a>
            </td> 
        </tr>
    </tbody>
</table>
<!-- </div> -->