<table class="table table-striped table-bordered detailTable" width="60%">
  <tr>
    <td class="header">Game ID</td>
    <td>{{ game._id }}</td>
    <td class="header">Status</td>
    <td>{{ game.state }}</td>
  </tr>
  <tr>
    <td class="header">Game template</td>
    <td>{{ game._id }}</td>
    <td class="header">Gestart op</td>
    <td>{{ game.startedOn }}</td>
  </tr>
  <tr>
    <td class="header">Gemaakt door</td>
    <td>{{ game.gameTemplate._id }}</td>
    <td class="header">Beeindigd op</td>
    <td>{{ game.endedOn }}</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
    <td class="header">Aangemaakt op</td>
    <td>{{ game.createdOn }}</td>
  </tr>
  <tr>
    <td class="header">Minimaal spelers</td>
    <td>{{ game.minPlayers }}</td>
    <td class="header">Aangemaakt door</td>
    <td>{{ game.createdBy.name }}</td>
  </tr>
  <tr>
    <td class="header">Maximaal spelers</td>
    <td>{{ game.maxPlayers }}</td>
    <td class="header">E-mail adres beheerder</td>
    <td>{{ game.createdBy._id }}</td>
  </tr>
</table>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="2">Spelers</th>            
        </tr>
    </thead>
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="g in game.players">
            <td>{{ g._id }}</td>
            <td>{{ g.name }}</td>
        </tr>
    </tbody>
</table>

<div id="mahjong">
  <div ng-repeat="tile in tiles | filter: { clicked: 'none' }" ng-click="removeTile(tile)" class="tile {{tile.tile.suit}} {{tile.tile.name}}" style="left: {{ tile.xPos *32 }}px; top: {{ tile.yPos *32 + 100 + tile.zPos *6 }}px; z-index: {{ tile.zPos * 100 }};">{{tile.tile.name}}</div>
  <div class="clear"></div>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th colspan="2">Weggeklikt</th>            
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Naam</th>
            <th>Tegels</th>
        </tr>
    </thead>
    <tbody>

      <tr>
        <td>Speler1</td>
        <td>
          <div id="mahjong" style="width:auto; height:auto;">
            <div ng-repeat="tile in tiles | filter: { clicked: 'speler1' }" class="tile {{tile.tile.suit}} {{tile.tile.name}}" style="float:left; width:53px; position:relative;">
            {{tile.tile.name}}</div>
            <div class="clear"></div>
          </div>
        </td>
      </tr> 
   <tr>
        <td>Speler2</td>
        <td>
          <div id="mahjong" style="width:auto; height:auto;">
            <div ng-repeat="tile in tiles | filter: { clicked: 'speler2' }" class="tile {{tile.tile.suit}} {{tile.tile.name}}" style="float:left; width:53px; position:relative;">{{tile.tile.name}}</div>
            <div class="clear"></div>
          </div>
        </td>
      </tr> 
    </tbody>
</table>




